#root > div > div > main > div.MuiContainer-root.MuiContainer-maxWidthLg.css-1f2kw6w-MuiContainer-root > coloumn > row:nth-child(3) > div > div > div > table{

    display: block;
    overflow-x: auto;
    white-space: nowrap;
    
}